<!DOCTYPE html>
<html>
<head>
</head>
<body ng-app="myApp">
    <div ng-controller="profileController">
        <p>New Full Name:<input type="text" ng-model="newFullName" /><button type="button" ng-click="addProfile();">Add</button></p>
        <h1>Users</h1>
        <div ng-repeat="profile in profiles">
            <li>{{profile}}</li>
        </div>
    </div>
    <div ng-controller="contactController">
        <p>New Address:<input type="text" ng-model="newContact" /><button type="button" ng-click="addContact();">Add</button></p>
        <h1>Addresses</h1>
        <div ng-repeat="contact in contacts">
            <li>{{contact}}</li>
        </div>
    </div>
    
    <!-- Core javascript libraries -->
    <script type="text/javascript" src="libraries/scripts/1.6.4/angular.min.js"></script>
    
    <!-- Application javascript code -->
    <script>
        var myApp = angular.module('myApp', []);
        var profileController = function($scope) {
            $scope.profiles = [];
            $scope.newFullName = '';
            
            $scope.addProfile = function() {
                $scope.profiles.push($scope.newFullName);
            };
        };
        var contactController = function($scope) {
            $scope.contacts = [];
            $scope.newContact = '';
            
            $scope.addContact = function() {
                $scope.contacts.push($scope.newContact);
            };
        };
        
        myApp.controller('profileController', profileController);
        myApp.controller('contactController', contactController);
    </script>
</body>
</html>
