<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div ng-app="myApp">
        <p>{{title}}</p>
        <div ng-controller="HelloWorldCtrl">
          
            <p ng-show="enableName(1,2);">Input something in the input box</p>
            <p>Name: <input type="text" ng-model="name" /></p>
            <p ng-bind="name"></p>
        </div>
        
        <div ng-controller="HelloWorldCtrl">
             
            <p ng-show="enableName(1,1);">Input something in the input box</p>
            <p>Name: <input type="text" ng-model="name" /></p>
            <p ng-bind="name"></p>
        </div>
    </div>
    
    <!-- Core javascript libraries -->
    <script type="text/javascript" src="libraries/scripts/1.6.4/angular.min.js"></script>

    <!-- Application javascript code -->
    <script>
        var app = angular.module("myApp", []);
        app.controller("HelloWorldCtrl", function($rootScope, $scope) {  
            $rootScope.title = $rootScope.$id;
            $scope.name= $scope.$id ;
            $scope.enableName = function(x, y){return (x+ y) % 2 == 0;}
        });
    </script>
</body>
</html>
